comtypes==1.4.11
natsort==8.4.0
numpy==2.2.6
opencv-python==4.11.0.86
pillow==11.2.1
platformdirs==4.3.8
psutil==7.0.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
PySide6==6.9.1
pywin32==311
pyzmq==27.0.0
msgpack==1.1.0
requests==2.32.4
shiboken6==6.9.1
watchdog==6.0.0
blake3==1.0.5
Send2Trash>=1.8.0
pytest==9.0.2
pytest-qt==4.5.0
Pygments==2.19.2